.yt-cntainer {
	position: relative;
}

.yt-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

button {
			color: #ffffff;
			background-color: #2d63c8;
			font-size: 19px;
			border: 1px solid #2d63c8;
			padding: 15px 50px;
			cursor: pointer
		}
		button:hover {
			color: #2d63c8;
			background-color: #ffffff;
		}
